#langbf_bar {
  background: none repeat scroll 0 0 #313131;
  border-bottom: 2px solid #515150;
  color: #DDDDDD;
  direction: ltr;
  font: 12px/28px Arial,Helvetica,sans-serif;
  height: 24px;
  left: 0;
  min-width: 980px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

#langbf_bar ul, #langbf_bar ul li {
    background: none repeat scroll 0 0 transparent;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}

.langbf_links {
  width: 980px;
  height: 24px;
  margin: 0 auto;
  overflow: hidden;
}
.langbf_links ul {
  list-style: none outside none;
  margin: 0;
}
.langbf_links li {
  float: left;
}
.langbf_links a {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  padding: 0;
  text-indent: -9999px;
}
.langbf_links a:hover {
  margin: 2px 2px -2px 2px;
}
.langbf_title {
  display:block;
  float:left;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  line-height: 24px;
  margin: 0 5px 0 0;
}
.tooltip {
	display: none;
	background: url("images/black_arrow_bottom.png") no-repeat scroll center center transparent;
	font-size: 14px;
	font-style: italic;
	width: 145px;
	height: 30px;
	line-height: 30px;
	padding: 27px 25px 15px;
	color: #f7f7f7;
	text-align: center;
	vertical-align: middle;
}


/* EUROPE */
.langbf_at { background: url("images/flag_at.png") no-repeat scroll center top transparent; }
.langbf_at:hover { background: url("images/flag_at.png") no-repeat scroll center bottom transparent; }

.langbf_be { background: url("images/flag_be.png") no-repeat scroll center top transparent; }
.langbf_be:hover { background: url("images/flag_be.png") no-repeat scroll center bottom transparent; }

.langbf_bg { background: url("images/flag_bg.png") no-repeat scroll center top transparent; }
.langbf_bg:hover { background: url("images/flag_bg.png") no-repeat scroll center bottom transparent; }

.langbf_by { background: url("images/flag_by.png") no-repeat scroll center top transparent; }
.langbf_by:hover { background: url("images/flag_by.png") no-repeat scroll center bottom transparent; }

.langbf_ch { background: url("images/flag_ch.png") no-repeat scroll center top transparent; }
.langbf_ch:hover { background: url("images/flag_ch.png") no-repeat scroll center bottom transparent; }

.langbf_cz { background: url("images/flag_cz.png") no-repeat scroll center top transparent; }
.langbf_cz:hover { background: url("images/flag_cz.png") no-repeat scroll center bottom transparent; }

.langbf_de { background: url("images/flag_de.png") no-repeat scroll center top transparent; }
.langbf_de:hover { background: url("images/flag_de.png") no-repeat scroll center bottom transparent; }

.langbf_dk { background: url("images/flag_dk.png") no-repeat scroll center top transparent; }
.langbf_dk:hover { background: url("images/flag_dk.png") no-repeat scroll center bottom transparent; }

.langbf_ee { background: url("images/flag_ee.png") no-repeat scroll center top transparent; }
.langbf_ee:hover { background: url("images/flag_ee.png") no-repeat scroll center bottom transparent; }

.langbf_es { background: url("images/flag_es.png") no-repeat scroll center top transparent; }
.langbf_es:hover { background: url("images/flag_es.png") no-repeat scroll center bottom transparent; }

.langbf_fi { background: url("images/flag_fi.png") no-repeat scroll center top transparent; }
.langbf_fi:hover { background: url("images/flag_fi.png") no-repeat scroll center bottom transparent; }

.langbf_fr { background: url("images/flag_fr.png") no-repeat scroll center top transparent; }
.langbf_fr:hover { background: url("images/flag_fr.png") no-repeat scroll center bottom transparent; }

.langbf_gr { background: url("images/flag_gr.png") no-repeat scroll center top transparent; }
.langbf_gr:hover { background: url("images/flag_gr.png") no-repeat scroll center bottom transparent; }

.langbf_hr { background: url("images/flag_hr.png") no-repeat scroll center top transparent; }
.langbf_hr:hover { background: url("images/flag_hr.png") no-repeat scroll center bottom transparent; }

.langbf_hu { background: url("images/flag_hu.png") no-repeat scroll center top transparent; }
.langbf_hu:hover { background: url("images/flag_hu.png") no-repeat scroll center bottom transparent; }

.langbf_ie { background: url("images/flag_ie.png") no-repeat scroll center top transparent; }
.langbf_ie:hover { background: url("images/flag_ie.png") no-repeat scroll center bottom transparent; }

.langbf_is { background: url("images/flag_is.png") no-repeat scroll center top transparent; }
.langbf_is:hover { background: url("images/flag_is.png") no-repeat scroll center bottom transparent; }

.langbf_it { background: url("images/flag_it.png") no-repeat scroll center top transparent; }
.langbf_it:hover { background: url("images/flag_it.png") no-repeat scroll center bottom transparent; }

.langbf_li { background: url("images/flag_li.png") no-repeat scroll center top transparent; }
.langbf_li:hover { background: url("images/flag_li.png") no-repeat scroll center bottom transparent; }

.langbf_lt { background: url("images/flag_lt.png") no-repeat scroll center top transparent; }
.langbf_lt:hover { background: url("images/flag_lt.png") no-repeat scroll center bottom transparent; }

.langbf_lu { background: url("images/flag_lu.png") no-repeat scroll center top transparent; }
.langbf_lu:hover { background: url("images/flag_lu.png") no-repeat scroll center bottom transparent; }

.langbf_lv { background: url("images/flag_lv.png") no-repeat scroll center top transparent; }
.langbf_lv:hover { background: url("images/flag_lv.png") no-repeat scroll center bottom transparent; }

.langbf_me { background: url("images/flag_me.png") no-repeat scroll center top transparent; }
.langbf_me:hover { background: url("images/flag_me.png") no-repeat scroll center bottom transparent; }

.langbf_mt { background: url("images/flag_mt.png") no-repeat scroll center top transparent; }
.langbf_mt:hover { background: url("images/flag_mt.png") no-repeat scroll center bottom transparent; }

.langbf_nl { background: url("images/flag_nl.png") no-repeat scroll center top transparent; }
.langbf_nl:hover { background: url("images/flag_nl.png") no-repeat scroll center bottom transparent; }

.langbf_no { background: url("images/flag_no.png") no-repeat scroll center top transparent; }
.langbf_no:hover { background: url("images/flag_no.png") no-repeat scroll center bottom transparent; }

.langbf_pl { background: url("images/flag_pl.png") no-repeat scroll center top transparent; }
.langbf_pl:hover { background: url("images/flag_pl.png") no-repeat scroll center bottom transparent; }

.langbf_pt { background: url("images/flag_pt.png") no-repeat scroll center top transparent; }
.langbf_pt:hover { background: url("images/flag_pt.png") no-repeat scroll center bottom transparent; }

.langbf_ro { background: url("images/flag_ro.png") no-repeat scroll center top transparent; }
.langbf_ro:hover { background: url("images/flag_ro.png") no-repeat scroll center bottom transparent; }

.langbf_rs { background: url("images/flag_rs.png") no-repeat scroll center top transparent; }
.langbf_rs:hover { background: url("images/flag_rs.png") no-repeat scroll center bottom transparent; }

.langbf_ru { background: url("images/flag_ru.png") no-repeat scroll center top transparent; }
.langbf_ru:hover { background: url("images/flag_ru.png") no-repeat scroll center bottom transparent; }

.langbf_se { background: url("images/flag_se.png") no-repeat scroll center top transparent; }
.langbf_se:hover { background: url("images/flag_se.png") no-repeat scroll center bottom transparent; }

.langbf_si { background: url("images/flag_si.png") no-repeat scroll center top transparent; }
.langbf_si:hover { background: url("images/flag_si.png") no-repeat scroll center bottom transparent; }

.langbf_sk { background: url("images/flag_sk.png") no-repeat scroll center top transparent; }
.langbf_sk:hover { background: url("images/flag_sk.png") no-repeat scroll center bottom transparent; }

.langbf_tr { background: url("images/flag_tr.png") no-repeat scroll center top transparent; }
.langbf_tr:hover { background: url("images/flag_tr.png") no-repeat scroll center bottom transparent; }

.langbf_ua { background: url("images/flag_ua.png") no-repeat scroll center top transparent; }
.langbf_ua:hover { background: url("images/flag_ua.png") no-repeat scroll center bottom transparent; }

.langbf_uk { background: url("images/flag_uk.png") no-repeat scroll center top transparent; }
.langbf_uk:hover { background: url("images/flag_uk.png") no-repeat scroll center bottom transparent; }


/* AMERICAS */
.langbf_ar { background: url("images/flag_ar.png") no-repeat scroll center top transparent; }
.langbf_ar:hover { background: url("images/flag_ar.png") no-repeat scroll center bottom transparent; }

.langbf_bb { background: url("images/flag_bb.png") no-repeat scroll center top transparent; }
.langbf_bb:hover { background: url("images/flag_bb.png") no-repeat scroll center bottom transparent; }

.langbf_bo { background: url("images/flag_bo.png") no-repeat scroll center top transparent; }
.langbf_bo:hover { background: url("images/flag_bo.png") no-repeat scroll center bottom transparent; }

.langbf_br { background: url("images/flag_br.png") no-repeat scroll center top transparent; }
.langbf_br:hover { background: url("images/flag_br.png") no-repeat scroll center bottom transparent; }

.langbf_bs { background: url("images/flag_bs.png") no-repeat scroll center top transparent; }
.langbf_bs:hover { background: url("images/flag_bs.png") no-repeat scroll center bottom transparent; }

.langbf_bz { background: url("images/flag_bz.png") no-repeat scroll center top transparent; }
.langbf_bz:hover { background: url("images/flag_bz.png") no-repeat scroll center bottom transparent; }

.langbf_ca { background: url("images/flag_ca.png") no-repeat scroll center top transparent; }
.langbf_ca:hover { background: url("images/flag_ca.png") no-repeat scroll center bottom transparent; }

.langbf_cl { background: url("images/flag_cl.png") no-repeat scroll center top transparent; }
.langbf_cl:hover { background: url("images/flag_cl.png") no-repeat scroll center bottom transparent; }

.langbf_co { background: url("images/flag_co.png") no-repeat scroll center top transparent; }
.langbf_co:hover { background: url("images/flag_co.png") no-repeat scroll center bottom transparent; }

.langbf_cr { background: url("images/flag_cr.png") no-repeat scroll center top transparent; }
.langbf_cr:hover { background: url("images/flag_cr.png") no-repeat scroll center bottom transparent; }

.langbf_cu { background: url("images/flag_cu.png") no-repeat scroll center top transparent; }
.langbf_cu:hover { background: url("images/flag_cu.png") no-repeat scroll center bottom transparent; }

.langbf_dm { background: url("images/flag_dm.png") no-repeat scroll center top transparent; }
.langbf_dm:hover { background: url("images/flag_dm.png") no-repeat scroll center bottom transparent; }

.langbf_do { background: url("images/flag_do.png") no-repeat scroll center top transparent; }
.langbf_do:hover { background: url("images/flag_do.png") no-repeat scroll center bottom transparent; }

.langbf_ec { background: url("images/flag_ec.png") no-repeat scroll center top transparent; }
.langbf_ec:hover { background: url("images/flag_ec.png") no-repeat scroll center bottom transparent; }

.langbf_gd { background: url("images/flag_gd.png") no-repeat scroll center top transparent; }
.langbf_gd:hover { background: url("images/flag_gd.png") no-repeat scroll center bottom transparent; }

.langbf_gt { background: url("images/flag_gt.png") no-repeat scroll center top transparent; }
.langbf_gt:hover { background: url("images/flag_gt.png") no-repeat scroll center bottom transparent; }

.langbf_gy { background: url("images/flag_gy.png") no-repeat scroll center top transparent; }
.langbf_gy:hover { background: url("images/flag_gy.png") no-repeat scroll center bottom transparent; }

.langbf_hn { background: url("images/flag_hn.png") no-repeat scroll center top transparent; }
.langbf_hn:hover { background: url("images/flag_hn.png") no-repeat scroll center bottom transparent; }

.langbf_ht { background: url("images/flag_ht.png") no-repeat scroll center top transparent; }
.langbf_ht:hover { background: url("images/flag_ht.png") no-repeat scroll center bottom transparent; }

.langbf_jm { background: url("images/flag_jm.png") no-repeat scroll center top transparent; }
.langbf_jm:hover { background: url("images/flag_jm.png") no-repeat scroll center bottom transparent; }

.langbf_mx { background: url("images/flag_mx.png") no-repeat scroll center top transparent; }
.langbf_mx:hover { background: url("images/flag_mx.png") no-repeat scroll center bottom transparent; }

.langbf_ni { background: url("images/flag_ni.png") no-repeat scroll center top transparent; }
.langbf_ni:hover { background: url("images/flag_ni.png") no-repeat scroll center bottom transparent; }

.langbf_pa { background: url("images/flag_pa.png") no-repeat scroll center top transparent; }
.langbf_pa:hover { background: url("images/flag_pa.png") no-repeat scroll center bottom transparent; }

.langbf_pe { background: url("images/flag_pe.png") no-repeat scroll center top transparent; }
.langbf_pe:hover { background: url("images/flag_pe.png") no-repeat scroll center bottom transparent; }

.langbf_pr { background: url("images/flag_pr.png") no-repeat scroll center top transparent; }
.langbf_pr:hover { background: url("images/flag_pr.png") no-repeat scroll center bottom transparent; }

.langbf_py { background: url("images/flag_py.png") no-repeat scroll center top transparent; }
.langbf_py:hover { background: url("images/flag_py.png") no-repeat scroll center bottom transparent; }

.langbf_sr { background: url("images/flag_sr.png") no-repeat scroll center top transparent; }
.langbf_sr:hover { background: url("images/flag_sr.png") no-repeat scroll center bottom transparent; }

.langbf_sv { background: url("images/flag_sv.png") no-repeat scroll center top transparent; }
.langbf_sv:hover { background: url("images/flag_sv.png") no-repeat scroll center bottom transparent; }

.langbf_tt { background: url("images/flag_tt.png") no-repeat scroll center top transparent; }
.langbf_tt:hover { background: url("images/flag_tt.png") no-repeat scroll center bottom transparent; }

.langbf_us { background: url("images/flag_us.png") no-repeat scroll center top transparent; }
.langbf_us:hover { background: url("images/flag_us.png") no-repeat scroll center bottom transparent; }

.langbf_uy { background: url("images/flag_uy.png") no-repeat scroll center top transparent; }
.langbf_uy:hover { background: url("images/flag_uy.png") no-repeat scroll center bottom transparent; }

.langbf_ve { background: url("images/flag_ve.png") no-repeat scroll center top transparent; }
.langbf_ve:hover { background: url("images/flag_ve.png") no-repeat scroll center bottom transparent; }


/* ASIA + AUSTRALIA */

/* AFRICA */
